<section class="TwoColSec">
  <div class="container-fluid">
    <div class="card-group">
      <div class="card ColSide">
        <div class="card-body">
          <p class="card-text LeftColSide"><%= LeftColSide %></p>
        </div>
      </div>
      <div class="card ColSide">
        <div class="card-body">
          <p class="card-text RightColSide">
            <%= RightColSide %>
          </p>
        </div>
      </div>
    </div>

  </div>
</section>
